.whatsapp-icon {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 10;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
  
  .whatsapp-icon img {
    overflow: hidden;
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
    width: 100%;
    height: 100%;
  }
  
  .whatsapp-icon:hover {
    transform: scale(120%);
  }
  
  @keyframes float {
    0% {
      filter: drop-shadow(0 5px 15px rgba(60, 60, 60, 0.6));
      transform: translatey(0px);
    }
    50% {
      filter: drop-shadow(0 25px 15px rgba(60, 60, 60, 0.2));
      transform: translatey(-20px);
    }
    100% {
      filter: drop-shadow(0 5px 15px rgba(60, 60, 60, 0.6));
      transform: translatey(0px);
    }
  }`;